#titlecart{
    text-align: center;
    font-size: 50px;
    font-family:"Bebas Neue", sans-serif;
    color: white;

}
.box{
    padding-top: 2rem;  
    height: 100rem;
    background-color: rgba(168, 121, 163, 0.9);
    color: white;
    text-align: center;
    border-radius: 3%;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

body{
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
}


.incart{

    background-color: rgba(206, 148, 200, 0.9);;
    color: aliceblue;
    font-family:"Bebas Neue", sans-serif;
    justify-content: space-between;
    width: 75rem;
    height: 7rem;
    border-radius: 5px;
    font-size: 15px;

}




/*all selected*/
/*animation handler*/
all{
    opacity: 0;
    transform: translateY(20px); /* Start from 20px below */
    animation: easeIn 1s forwards; /* Apply animation */
}

@keyframes easeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


