/* the login page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  /* Style for the file input container */
.file-input-container {
  margin-bottom: 10px; /* Aligns with other form elements */
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Custom style for the file input 'button' */
.file-input-button {
  display: block;
  width: 95%;
  padding: 10px;
  background-color: #ff69b4; /* Match your button color */
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.file-input-button:hover {
  opacity: 0.8;
  background-color: #c5528b
}

/* Hide the actual input but make it accessible */
input[type="file"] {
  opacity: 0; /* Hidden but accessible */
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
}

  .login-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .login-logo {
    height: 80px;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 /* Add this CSS to your login.css file */
/* Button styles */
.dropbtn {
    background-color: #ff69b4; /* Pinkish color */
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropbtn:hover {
    background-color: #ff1493; /* Darker pinkish color on hover */
  }
  

  
  
  
  /* Additional styles for the register link */
  p {
    margin-top: 20px;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  